h1 {
  font-style: normal;
  font-family: sans-serif;
  color: aqua;
}

.image {
  width: auto;
  height: auto;
  position: relative;
  border: 2px solid white;
  display: inline-block;
  border-radius: 50%;
}

.orca {
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
  border-radius: 50%;
}

p {
  font-size: 16px;
  font-family: sans-serif;
}
ul {
  font-size: 16px;
  font-family: sans-serif;
}

table, td, tr {
  border: 1px solid black;
}
