h1 {
	font-family: sans-serif;
	text-align: center;
}

table {
	margin: auto;
	padding: 5%;
}

td {
	width: 100px;
	height: 100px;
}

.center {
	align: center;
}

.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.horizontal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#middle {
	border: 1px solid black;
}
