h1 {
	font-family: 'Bellefair', serif;
	margin-left: 1.6%;
}

h2 {
	font-family: 'Abril Fatface', cursive;
	margin-left: 1.6%;
	border-bottom: 1px solid black;
	width: 30%;
	padding-bottom: 20px;
}

div {
	width: 100px;
	float: left;
}

img {
	width: 30%;
	float: left;
	padding: 1.66%;
}
